.container {
    width: 70%;
    margin: auto;
    text-align: center;
}

.rsp {
    text-align: center;
    display: inline-block;

}

body {
    background-color: #F7F7F7 !important;
}

h1 {
    margin: 50px !important;
    font-size: 10rem !important;
    color: #5D3891;
}

p {
    font-size: 2rem;
    color: #0f0f0f;
    font-family: 'Sans-serif';
}

img {
    width: 60%;
}


.click-me {
    margin-top: 5rem;
    
}